In [1]:
import pandas as pd
import sqlalchemy
from sqlalchemy import create_engine, MetaData
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy import Column, String, Float, Integer

In [2]:
meas_df = pd.read_csv("clean_hawaii_measurements.csv")
stat_df = pd.read_csv("clean_hawaii_stations.csv")
meas_df.head()

       station        date  prcp  tobs
0  USC00519397  2010-01-01  0.08    65
1  USC00519397  2010-01-02  0.00    63
2  USC00519397  2010-01-03  0.00    74
3  USC00519397  2010-01-04  0.00    76
4  USC00519397  2010-01-06  0.00    73

In [3]:
stat_df.head()

,station,name,latitude,longitude,elevation
0,USC00519397,"WAIKIKI 717.2, HI US",21.2716,-157.8168,3.0
1,USC00513117,"KANEOHE 838.1, HI US",21.4234,-157.8015,14.6
2,USC00514830,"KUALOA RANCH HEADQUARTERS 886.9, HI US",21.5213,-157.8374,7.0
3,USC00517948,"PEARL CITY, HI US",21.3934,-157.9751,11.9
4,USC00518838,"UPPER WAHIAWA 874.3, HI US",21.4992,-158.0111,306.6

In [4]:
HA_engine = create_engine("sqlite:///hawaii.sqlite")

In [5]:
Base = declarative_base()

#table for measurements
class Measurements(Base):
    
    __tablename__ = 'HA_measurements'

    id = Column(Integer, primary_key=True)
    station = Column(String(255))
    date = Column(String)
    prcp = Column(Float)
    tobs = Column(Float)
    
#table for stations
class Stations(Base):
    
    __tablename__ = 'HA_station'

    id = Column(Integer, primary_key=True)
    station = Column(String(255))
    name = Column(String(255))
    latitude = Column(Float)
    longitude = Column(Float)
    elevation = Column(Float)

In [6]:
#create tables
Base.metadata.create_all(HA_engine)
HA_engine.table_names()

['HA_measurements', 'HA_station']

In [7]:
#importing data
def import_data(engine, table, csv):
    connect = HA_engine.connect()
    df_data = pd.read_csv(csv)
    table_data = df_data.to_dict(orient='records')
    connect.execute(table.delete())
    connect.execute(table.insert(), table_data)
    
#inserting data into tables
import_data(HA_engine, Stations.__table__, 'clean_hawaii_stations.csv')
import_data(HA_engine, Measurements.__table__, 'clean_hawaii_measurements.csv')

In [8]:
HA_engine.execute("SELECT * FROM HA_measurements LIMIT 10").first()

(1, 'USC00519397', '2010-01-01', 0.08, 65.0)

In [9]:
HA_engine.execute("SELECT * FROM HA_station").first()

(1, 'USC00519397', 'WAIKIKI 717.2, HI US', 21.2716, -157.8168, 3.0)